@import url("whitespace-reset.css");

// === COLORS ===

// === FONTS ===

// === SIZES ===

// === STYLE ===

body { 
	font-weight: bold;
	background-image: url("../background-image.jpg");
	h1 {
		font-weight: bold;
		color: #ffffff !important;
		width: 25%;
		margin: 0 auto 20px auto;
	}
	.code-submit-form {
		width: 70%;
		height: 85px;
		margin: 200px auto 0 auto;
		span {
			color: #ffffff !important;	
			font-size: 26px;
		}
		textarea {
			color: black !important;
			width: 100%;
			height: 100%;
		}
		.btn {
			display: block;
			margin-top: 10px;
		}
	}
	
	.output-form {
		width: 70%;
		height: 85px;
		margin: 200px auto 0 auto;
		
		span {
			color: #ffffff !important;
			font-size: 26px;
		}
		
		textarea {
			width: 100%;
			height: 100%;
		}
	}
}

	